#dumpunet-txt2img-features-layerinfo,
#dumpunet-img2img-features-layerinfo,
#dumpunet-txt2img-layerprompt-layerinfo,
#dumpunet-img2img-layerprompt-layerinfo,
#dumpunet-txt2img-attention-layerinfo,
#dumpunet-img2img-attention-layerinfo,
#dumpunet-txt2img-layerprompt-errors,
#dumpunet-img2img-layerprompt-errors {
    font-family: monospace;
}

#dumpunet-txt2img-features-checkbox,
#dumpunet-img2img-features-checkbox,
#dumpunet-txt2img-attention-checkbox,
#dumpunet-img2img-attention-checkbox,
#dumpunet-txt2img-layerprompt-checkbox,
#dumpunet-img2img-layerprompt-checkbox {
    /* background-color: #fff8f0; */
    background-color: rgb(255 248 240 / var(--tw-bg-opacity));
}

.dark #dumpunet-txt2img-features-checkbox,
.dark #dumpunet-img2img-features-checkbox,
.dark #dumpunet-txt2img-attention-checkbox,
.dark #dumpunet-img2img-attention-checkbox,
.dark #dumpunet-txt2img-layerprompt-checkbox,
.dark #dumpunet-img2img-layerprompt-checkbox {
    /*background-color: inherit;
    filter: contrast(1.5);*/
    background-color: rgb(59 77 103 / var(--tw-bg-opacity));
}

.dumpunet-tooltip {
    display: none;
}

.dumpunet-tooltip-parent:hover .dumpunet-tooltip {
    display: block;
    position: absolute;
    right: 0;
    font-family: monospace;
    font-size: x-small;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    z-index: 500;
    width: auto;
    /* max-width: 75%; */
    border: 1px solid rgb(204 204 204 / var(--tw-bg-opacity));
    padding: 0.5em 1em;
}

.dark .dumpunet-tooltip-parent:hover .dumpunet-tooltip {
    background-color: rgb(59 77 103 / var(--tw-bg-opacity));
    border-color: rgb(128 128 128 / var(--tw-bg-opacity));
}

#dumpunet-txt2img-features-colorization-method .dumpunet-tooltip,
#dumpunet-txt2img-layerprompt-diff-colorization-method .dumpunet-tooltip,
#dumpunet-txt2img-attention-colorization-method .dumpunet-tooltip,
#dumpunet-img2img-features-colorization-method .dumpunet-tooltip,
#dumpunet-img2img-layerprompt-diff-colorization-method .dumpunet-tooltip,
#dumpunet-img2img-attention-colorization-method .dumpunet-tooltip,
#dumpunet-txt2img-features-colorization-trans .dumpunet-tooltip,
#dumpunet-txt2img-layerprompt-diff-colorization-trans .dumpunet-tooltip,
#dumpunet-txt2img-attention-colorization-trans .dumpunet-tooltip,
#dumpunet-img2img-features-colorization-trans .dumpunet-tooltip,
#dumpunet-img2img-layerprompt-diff-colorization-trans .dumpunet-tooltip,
#dumpunet-img2img-attention-colorization-trans .dumpunet-tooltip {
    right: unset;
    top: 4em;
}

.dumpunet-description {
    /* font-family: monospace; */
    font-size: small;
    margin: 0 0.5em;
    padding: 0 0.5em;
    border-left: 0.5em solid #888;
}

.invalidinput {
    background-color: pink;
}

.dark .invalidinput {
    background-color: #822;
}