#dumpunet-features-layerinfo,
#dumpunet-layerprompt-errors {
    font-family: monospace;
}

#dumpunet-features-checkbox,
#dumpunet-layerprompt-checkbox {
    background-color: #fff8f0;
}

.dumpunet-tooltip {
    display: none;
}

.dumpunet-tooltip-parent:hover .dumpunet-tooltip {
    display: block;
    position: absolute;
    right: 0;
    font-family: monospace;
    font-size: x-small;
    background-color: white;
    z-index: 500;
    width: 75%;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
}

.dumpunet-description {
    /* font-family: monospace; */
    font-size: small;
    margin: 0 0.5em;
    padding: 0 0.5em;
    border-left: 0.5em solid #888;
}